:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-dark: #293449;
  --basic-grey: #c5c5c5;
  --basic-grey-light: #f1f5f7;
  --basic-dark-light: #32425c;

  --special-orange: #ffbf47;
  --special-blue: #3bbce3;
  --special-pink: #dc91d8;
  --special-green: #8ed78f;
  --special-dark-orange: #ffc047;
  --special-light-orange: #ffd180;
  --special-light-orange2: #ffda96;
  --special-grey: #a9a9a9;
  --special-grey-light: #f3f7f9;
  --special-grey-light-second: #f9f5f0;
  --special-grey-light-third: #eaeaea;
}

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  background-color: var(--special-grey-light);
}

.main-header-links-wrapper {
  background-color: var(--basic-dark);
}

.main-header-links {
  list-style: none;
}

.main-header-links a {
  font-size: 18px;
  color: var(--basic-white);
  background-color: transparent;
}

.main-header-links .create-order-button {
  background-color: var(--basic-green);
}

.main-header-company-description {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.company-contacts-description {
  font-size: 14px;
  color: var(--basic-dark-light);
}

.company-phone-link {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
}

.user-form {
  list-style: none;
}

.user-form .log-in-button,
.user-form .register-button {
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
  text-transform: none;
}

.site-navigation {
  list-style: none;
  display: flex;
}

.site-navigation a {
  font-size: 18px;
  color: var(--basic-white);
  background-color: transparent;
}

.main-navigation {
  background-color: var(--basic-dark-light);
  box-shadow: inset 0px -5px 0px var(--basic-dark);
}

.offers-list {
  list-style: none;
}

.offers-item {
  width: 300px;
  height: 123px;
}

.offers-item p {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.offers-item a {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.offers-item.materials {
  background-color: var(--special-orange);
}

.offers-item.instrument {
  background-color: var(--special-blue);
}

.offers-item.technics {
  background-color: var(--special-pink);
}

.offers-item.discount {
  background-color: var(--special-green);
}

.offers-item.delivery {
  background-color: var(--special-dark-orange);
}

.advertising {
  width: 620px;
  height: 266px;
  background-color: var(--basic-black);
}

.advertising h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.advertising-description {
  font-size: 18px;
  color: var(--basic-white);
}

.popular-products-header,
.popular-producers-header {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark-light);
  background-color: var(--special-grey-light-second);
}

.button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  border: none;
}

.popular-products-list {
  font-family: "PT Sans";
  list-style: none;
}

.popular-products-item {
  width: 220px;
  height: 318px;
  font-weight: bold;
  border: 1px solid var(--special-grey-light-third);
}

.popular-product-item-title {
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.popular-product-item-full-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--special-grey);
}

.popular-product-item-discount-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.popular-producers-list {
  list-style: none;
}

.popular-producers-item {
  height: 145px;
  width: 220px;
  border: 1px solid var(--special-grey-light-third);
}

.services {
  color: var(--basic-black);
  background-color: var(--basic-grey-light);
}

.services h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-list {
  list-style: none;
}

.services-item a {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--basic-dark-light);
}

.services-item .active {
  color: var(--basic-dark-light);
  background-color: var(--basic-white);
}

.services p,
.company-details p,
.contacts-information p {
  font-family: "PT Sans";
  font-size: 13px;
}

.company-details h2,
.contacts-information h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.company-details-delivery-list {
  font-size: 18px;
}

.contacts-information-map {
  width: 300px;
  height: 158px;
}

.page-footer .footer-top-part {
  background-color: var(--basic-dark-light);
}

.page-footer .footer-down-part {
  background-color: var(--basic-dark);
}

.page-footer p {
  margin: 0;
}

.footer-menu-list,
.footer-our-products-list {
  font-size: 18px;
  list-style: none;
  display: flex;
}

.footer-menu-list a {
  color: var(--basic-grey-light);
}

.footer-our-products-list a {
  color: var(--special-light-orange2);
}

.footer-contacts p,
.footer-contacts a {
  font-size: 18px;
  color: var(--special-grey-light);
}

.footer-down-part p {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-social ul {
  list-style: none;
}

.social-button span {
  color: var(--basic-white);
}

.footer-down-part a {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-light-orange2);
}
